<template>
  <div class="dataview-wrapper">
    <ul id="viewdata">
      <li v-for="data in viewdata">{{data.id}}: {{data.name}}</li>
    </ul>
  </div>
</template>

<script>

export default {
  computed: {
    viewdata() {
      return this.$store.getters.filteredViewData
    }
  },

  created() {
    console.log('Created the data view')

    // Make sure we are starting with a clean slate.
    this.$store.commit('REMOVEALLFILTERS')

    // Add our view's filters:    
    this.filters.forEach(filter => {
      this.$store.commit('ADDFILTER', filter)
    })

    // Our source data set
    this.$store.commit('DATAINIT', [
      {id: 1, name: 'Rob'},
      {id: 2, name: 'Suzy'},
      {id: 3, name: 'Jonathan'},
      {id: 4, name: 'Bobby'},
      {id: 5, name: 'Lilian'},
      {id: 6, name: 'Tony'},
      {id: 7, name: 'Robert'}
    ])
  },
  methods: {
  },
  props: {
  },
  data() { 
    return {
      // The filters that we have defined for our view.
      filters: [
        {
          id: 'id-filter',
          display: 'id',
          placeholder: 'id',
          value: ''
        },        
        {
          id: 'name-filter',
          display: 'name',
          placeholder: 'name',
          value: ''
        }
      ],
      inputs: []
    }
  }
}
</script>

<style>

#viewdata {
  list-style: none;
}

</style>
