<template>
  <div class="login-wrapper">
    <input type="text" v-model="name" placeholder="username"/>
    <input type="password" v-model="key" placeholder="password"/>
  </div>
</template>

<script>

export default {
  computed: {
  },

  created() {
    console.log('Created the login view')
  },
  methods: {
  },
  props: {
  },
  data() { 
    return {
      name: '',
      key: ''
    }
  }
}
</script>

<style>

#viewdata {
  list-style: none;
}

</style>
