<template>
  <div class="filter-wrapper">
  <input type="text" placeholder="test input" ></input>
  </div>
</template>

<script>
export default {
  created() {
    console.log('Created a filter array')
  },
  props: {
      filters:{
        type: Array,
        default: []
      }
  },
  data() { 
    return {
      inputs: []
    }
  }
}
</script>

<style>
</style>
