<template>
  <div class="filterpane-wrapper">
    <ul id="filterlist">
      <li v-for="filter in datafilters">
        <input type="text" :placeholder="filter.placeholder" v-model="filter.value" @input="updateFilter($event, filter)"></input>
      </li>
    </ul>
  </div>
</template>

<script>

export default {
  computed: {
    datafilters() {
      return this.$store.state.filters
    }
  },
  methods: {
    updateFilter(e, filter) {
      this.$store.commit('SETFILTERVALUE', { id: filter.id, value: e.target.value })
    }
  },
  created() {
    console.log('Created the filterpane view')
  },
  props: {
  },
  data() { 
    return {
    }
  }
}
</script>

<style>

#filterlist {
  list-style: none;
}

</style>
